<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!--Add the new edit server route, for the moment, hard coded with server 5.-->
      <!--
        queryParams is a bindable property of the routerLink directive. It accepts a JavaScript object where we define
        key-value pairs we want to add.

        Now, when we navigate to the route /servers/5/edit, we will pass a query parameter: ?allowEdit=1
      -->
      <!--
        We use fragment to pass #loading to the route. We could have also done
        fragment="loading" instead of
        [fragment]="'loading'"
      -->
      <!--
        Change the routerLink to navigate to the server component instead of the edit-server component.
      -->
      <!--
        We will decide whether or not we want to allow editing the server based on the server Id.
      -->
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{
          allowEdit: server.id === 3 ? '1' : '0'
        }"
        [fragment]="'loading'"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--
      We need a place for the children routes to be rendered, so we add it here. All child routes of the route being
      loaded will render here.
    -->
    <router-outlet></router-outlet>
    <!-- <button
      class="btn btn-primary"
      (click)="onReload()">
      Reload Page
    </button>
    <app-edit-server></app-edit-server>
    <hr> -->
    <!--
      We comment this out for now because the Server Component will not have access to the server id from the route,
      since the current route does not have it. We will see how to do child routing later.
    -->
    <!-- <app-server></app-server> -->
  </div>
</div>

