<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!--
          We use the routerLink directive to specify the path we want to navigate to. This tells Angular that the
          containing element (a) serves as a link for the route specified.

          The routerLink directive can use property binding with square brackets to specify a string, for example:

            [routerLink]="'/users'"

          You can also use an array to specify the parts of your path In this case, only use the leading / on the first
          element to specify an absolute path. This would specify <yourdomain>/users/somethingElse:

            [routerLink]="['/users', 'somethingElse']"

          Using the array allows you to construct more complex paths more easily.
        -->
        <li role="presentation" class="active"><a routerLink="/">Home</a></li>
        <li role="presentation"><a routerLink="servers">Servers</a></li>
        <li role="presentation"><a [routerLink]="['users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
        router-outlet is a directive that ships with Angular. Place it where you want your route components to render.
      -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
