<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!--
          We use the routerLink directive to specify the path we want to navigate to. This tells Angular that the
          containing element (a) serves as a link for the route specified.

          The routerLink directive can use property binding with square brackets to specify a string, for example:

            [routerLink]="'/users'"

          You can also use an array to specify the parts of your path In this case, only use the leading / on the first
          element to specify an absolute path. This would specify <yourdomain>/users/somethingElse:

            [routerLink]="['/users', 'somethingElse']"

          Using the array allows you to construct more complex paths more easily.
        -->
        <!--
          Angular gives us the routerLinkActive directive. It can be added to an element that wraps the routerLink, as
          we do here, or in the element where routerLink is.

          It will attach the class you specify when the link is active. We use the 'active' class from Bootstrap.

          The routerLinkActive directive analyzes your currently loaded path and then checks which links lead to a route
          which use this path. By default, it marks an element as active, adding this css class, if it contains the path
          you are currently on, that is, if it is part of the path that is currently loaded.

          Since we always have /<nothing> at the beginning of our path, this path is always active. The empty path
          segment is part of all paths.

          To fix this, we can add configuration to the routerLinkActive directive.

          The routerLinkActive directive has a property that you can bind to named routerLinkActiveOptions. Pass it a
          JavaScript object with the correct configuration. The 'active' Bootstrap class will only be added if the full
          path is the empty path.
        -->
        <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            exact: true
          }">
          <a routerLink="/">Home</a>
        </li>
        <li
          role="presentation"
          routerLinkActive="active">
          <a routerLink="servers">Servers</a>
        </li>
        <li
          role="presentation"
          routerLinkActive="active">
          <a [routerLink]="['users']">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
        router-outlet is a directive that ships with Angular. Place it where you want your route components to render.
      -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
